@import '../../assets/styles/variables';

.start-screen-container {
  display: flex;
  flex-direction: column;
  user-select: none;

  .-stat {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(#{$gameCellSize * $mapWidth});
    height: calc(#{$gameCellSize * $mapHeight});
    font-size: $largeFontSize;
    color: $white;
    text-align: center;
  }

  .-continue {
    width: calc(#{$gameCellSize * $mapWidth});
    height: $gameCellSize;
    font-size: $largeFontSize;
    color: $white;
    text-align: center;
  }
}

.game-container {
  display: flex;
  flex-direction: column;
  width: calc(#{$gameCellSize * $mapWidth});
  height: calc(#{$gameCellSize * ($mapHeight + 1)});
  user-select: none;

  .-panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(#{$gameCellSize * $mapWidth});
    height: $gameCellSize;

    .-diamonds,
    .-time,
    .-score {
      width: 30%;
      font-size: $largeFontSize;
      color: $white;

      .-label {
        display: inline;
      }
    }

    .-diamonds {
      display: flex;

      .-label {
        display: flex;

        &:after {
          content: '◈';
          margin: 0 1vmin;
          line-height: 5vmin;
        }
      }
    }

    .-time {
      text-align: center;

      .-label{
        &:before {
          content: 'TIME';
          margin-right: 3vmin;
        }

        &.paused {
          &:before {
            content: '';
            margin: 0;
          }
        }
      }
    }

    .-score {
      text-align: right;

      .-label:before {
        content: 'SCORE';
        margin-right: 3vmin;
      }
    }
  }

  .-map {
    position: relative;
    width: calc(#{$gameCellSize * $mapWidth});
    height: calc(#{$gameCellSize * $mapHeight});

    .-map-canvas {
      position: absolute;
      top: 0;
      left: 0;
      width: calc(#{$gameCellSize * $mapWidth});
      height: calc(#{$gameCellSize * $mapHeight});
    }
  }
}
