@import './variables';

$w: 2vmin;
$h: $w;
$c: $white;

@mixin body($width, $height, $top, $left) {
  border: none;
  background-color: $c;
  height: $height;
  width: $width;
  top: $top;
  left: $left;
}

@mixin arrow($width, $height, $top, $left, $way){
  left: $left;
  top: $top;
  border-width:$height $width;
  border-#{$way}-color:$c;
}

.arrow{
  width: $w;
  height: $h;
  position: relative;
  top: 0.25vmin;
  display: inline-block;
  margin: 0;

  &:before,
  &:after{
    content:'';
    border-color:transparent;
    border-style:solid;
    position: absolute;
  }
  .curve{
    position: absolute;
    overflow: hidden;
    &:before{
      content:'';
      position:absolute;
    }
  }
}

.arrow-up{
  &:before{ @include body(30%, 50%, 50%, 50% - 30%/2);  }
  &:after { @include arrow($w/2, $h/2, -50%, 0, bottom); }
}

.arrow-right{
  &:before{ @include body(50%, 30%, 50% - 30%/2, 0); }
  &:after { @include arrow($w/2, $h/2, 0, 50%, left); }
}

.arrow-down{
  &:before{ @include body(30%, 50%, 0, 50% - 30%/2); }
  &:after { @include arrow($w/2, $h/2, 50%, 0, top);  }
}

.arrow-left{
  &:before{ @include body(50%, 30%, 50% - 30%/2, 50%); }
  &:after { @include arrow($w/2, $h/2, 0, -50%, right); }
}
