/* ----- Colors ----- */
$black: #000000;
$white: #ffffff;
$grey: #cccccc;

/* ----- Fonts ----- */
$largeFontSize: 4.5vmin;
$baseFontSize: 2.5vmin;
$modalFontSize: 2vmin;

/* ----- Menu ----- */
$menuCellSize: 10vmin;
$menuWidth: 7;
$menuHeight: 1;

/* ----- Game ----- */
$gameCellSize: 6vmin;
$mapWidth: 20;
$mapHeight: 13;
